body {
  text-align: center;
  font-family: 'Open Sans';
  background-color: #BBDEFB;
  padding: 0px;
  margin: 0px;
}
    
#loginArea {
  width: 400px;
  margin: 30px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px 10px;
  background-color: #FFFFFF;
}    

form {
  margin: 10px auto;
  border: 2px solid #303030;
}

#footer {
  width: 400px;
  color: #ffffff;
  padding: 20px 10px;
  background-color: #616161; 
  margin: 0 auto 20px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#footer a {
  color: white; 
}

select {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 15px;
}

select:focus {
  outline: none;
}

/* Top level is idpSelectIdPSelector */
#idpSelectIdPSelector
{
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #F57F21;
}

/* Next down are the idpSelectPreferredIdPTile, idpSelectIdPEntryTile & idpSelectIdPListTile */

/** 
 * The preferred IdP tile (if present) has a specified height, so
 * we can fit the preselected * IdPs in there
 */
#idpSelectPreferredIdPTile
{
  clear: both;        
}

#idpSelectPreferredIdPTileNoImg
{
    height:60px;
}

/***
 *  The preselect buttons
 */
div.IdPSelectPreferredIdPButton
{
    width: 110px;  /* Make absolute because 3 of these must fit inside 
                      div.IdPSelect{width} with not much each side. */
    margin: 20px 10px;
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.IdPSelectPreferredIdPButton:hover
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
/*
 *  Make the entire box look like a hyperlink
 */
div.IdPSelectPreferredIdPButton a
{
    background-color: #FFFFFF;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #303030;
}

div.IdPSelectPreferredIdPButton a:hover 
{
    text-decoration: none;
}

div.IdPSelectTextDiv{
    font-size: 15px;
    vertical-align: bottom;
    clear: both;
}

img.IdPSelectIdPImg {
   width:auto;
}

div.IdPSelectPreferredIdPButton img
{
    display: block;
    width: 100px;
    height: 100px; 
}

div.IdPSelectPreferredIdPButton div.IdPSelectTextDiv
{
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    max-width: 95%;
}

/*
 * Force the size of the selectors and the buttons
 */
#idpSelectInput, #idpSelectSelector
{
    width: 80%;
    margin: 10px;
}

@keyframes raise {
    from {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);}
    to {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
}

#idpSelectSelectButton, #idpSelectListButton
{
  padding: 5px 10px;
  border: none;
  background-color: #FB8C00;
  color: #ffffff !important;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  margin: 15px;
  vertical-align: middle;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

#idpSelectSelectButton:hover, #idpSelectListButton:hover {
  background-color: #FF9800;
  animation: raise;
  animation-duration: .2s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
}

/**
 * Drop down (incremental search) stuff - see the associated javascript for reference
 */
ul.IdPSelectDropDown {
    -moz-box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
    list-style: none;
    padding-left: 0px;
    border: 1px solid black;
    z-index: 6;
    position: absolute;   
}

ul.IdPSelectDropDown li {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

ul.IdPSelectDropDown li.IdPSelectCurrent {
    background-color: #3366cc;
    color: white;
}

/* Legacy */
div.IdPSelectDropDown {
    -moz-box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 6;
    position: absolute;   
}

div.IdPSelectDropDown div {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

 div.IdPSelectDropDown div.IdPSelectCurrent {
    background-color: #3366cc;
    color: white;
}

/* Mobile styles*/


@media (max-width: 400px) {
  #loginArea {
    margin: 0px auto;
    width: 100%;
    min-width: 0;
    padding: 20px 0px;
  }

  #footer {
    margin: 10px auto 0px auto;
    width: 100%;
    min-width: 0;
  }

  div.IdPSelectPreferredIdPButton img {
      display: block;
      width: 80px;
      height: 80px; 
  }

  div.IdPSelectPreferredIdPButton {
    width: 90px;  /* Make absolute because 3 of these must fit inside 
                      div.IdPSelect{width} with not much each side. */
    margin: 20px 5px;
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}


